
@font-face {
    font-family: Oswald;
    src: url(../fonts/Oswald-VariableFont_wght.ttf);
}

body {
    font-family: Oswald, serif;
    margin: 0px;
    padding: 0px;
}


/*Header menu*/
.header-top {
    width: 100%;
    height: 64px;
    position: absolute;
    background-color: #0E2B3C;
    display: inline-flex;
    font-size: 20px;
    color: #ffffff;
}

.left-block {
    display: inherit;
    margin-left: 156px;
    margin-right: 268px;
}

.right-block {
    display: flex;
    margin-top: 20px;
    margin-right: 140px;
    margin-left: auto;
}
.price-top {
    margin-right: 38px;
    margin-top: 10px;
}
.mark-top {
    margin-top: 10px;
}
.logo-top {
    margin-right: 110px;
}
.email-top a {
    color: #ffff;
    margin-right: 37px;
    text-decoration: none;
}
.phone-top a {
    color: #ffff;
    text-decoration: none;
}

/**
Banner
 */
.main-banner {
    background-image: url(../images/gidrant.png);
    display: inline-block;
    height: 552px;
    margin-top: 64px;
    width: 100%;
}
.banner-info {
    margin-left: 18%;
    margin-top: 6%;
}
.main-title {
    color: #ffff;
    font-size: 48px;
    width: 484px;
}
.button-calc-price {
    cursor: pointer;
    background-color: #AED2E8;
    color: #0E2B3C;
    width: 320px;
    height: 48px;
    outline: none;
    margin-top: 138px;
    border-radius: 12px;
    box-shadow: 0px 8px 10px rgba(130, 136, 134, 0.5);
}
.button-calc-price:hover {
    box-shadow: 0px 8px 10px rgba(130, 136, 134, 0.5);
    color: #4671D5;
}
.button-calc-price:active {
    background: #AED2E8;
    color: #424d9b;
    box-shadow: 0px 4px 4px rgba(130, 136, 134, 0.5);
}
.button-calc-price:visited {
    background: #AED2E8;
    color: #0E2B3C;
    box-shadow: 0px 8px 10px rgba(130, 136, 134, 0.5);
}

.banner-info-text {
    width: 80%;
    margin-left: 10%;
    margin-top: 24px;
}
/**
Карточки
 */
.info-card {
    width: 288px;
    height: 160px;
    border: 2px solid #AED2E8;
    border-radius: 16px;
    margin: 16px;
    box-shadow: 0px 8px 8px rgba(130, 136, 134, 0.5);
}
.card-text {
    padding: 16px;
}


/**
Футер
 */
.footer-right {
    background-color: #0E2B3C;
    height: 267px
}