@font-face {
    font-family: Oswald;
    src: url(../fonts/Oswald-VariableFont_wght.ttf);
}

.Head_1 {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 71px;
}
.Head_2 {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 47px;
}
.Head_3 {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
}
.Head_4 {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
}
.Head_5 {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}
.Body_1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}
.Body_2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}
.Button_1{
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
}
.Button_1_hov {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}

.Overline_1{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
}

.dark-blue {color:#0E183C}
.green {color:#364B4A}
.gray-green{color:#828886}
.very_light_blue{color:#C2D5FF}
.light_blue{color:#AED2E8}
.blue{color:#4671D5}
.red{color:#DC2525}
.white{color: white}


html,
body {
    position: relative;
    height: 100%;
}

body {
    font-family: Oswald, serif;
    background: #fff;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

button {
    border: transparent;
    outline: none !important;
}

/** Header menu */
.header-top {
    background-color: #0E183C;
    display: inline-flex;
    height: 66px;
    width: 100%;
    flex-wrap: nowrap;
    vertical-align: baseline;
}

.link-top {
    margin-top: 10px;
}

.link-top a {
    color: #DEEBF4;
    text-decoration: none;
}

.price{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
}
.indent{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
}

/** Banner */
.main-banner {
    background-image: url(../images/background.png);
    background-position: center;
    display: inline-block;
    height: 600px;
    width: 100%;
}

.banner-info {
    /*margin-top: 10%;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
}

.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
}
.line_text{
    padding: 5px;
    padding-left: 0px
;
}
.button-calc-price {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    background: #AED2E8;
    box-shadow: 0px 8px 8px rgba(130, 136, 134, 0.5);
    border-radius: 16px;
    text-decoration: none;
}
.button-calc-price:hover {
    border: transparent;
    box-shadow: 0px 8px 10px rgba(130, 136, 134, 0.5);
    color: #4671D5;
    font-size: 20px;
    outline: none;
}

.button-calc-price:active {
    background: #AED2E8;
    border: transparent;
    box-shadow: 0px 4px 4px rgba(130, 136, 134, 0.5);
    color: #424d9b;
    font-size: 20px;
    outline: none;
}

.button-calc-price:visited {
    background: #AED2E8;
    box-shadow: 0px 8px 10px rgba(130, 136, 134, 0.5);
    border: transparent;
    color: #0E183C;
}

/** text*/
.paragraph{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
}
.paragraph-decor{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
}
.line_1{
    border-left: 20px solid #4671d5;
    height: 270px;
}
.line_2{
    border-left: 40px solid #4671d5;
    height: 270px;
    margin-left: 20px;
}
.paragraph-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 0px 0px 40px;
}
.text{
    flex: none;
    order: 1;
    align-items: flex-start;
    margin: 10px 0px;
}

/* problems*/
.problems{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
}
.title-1 {
    display: flex;
    align-items: flex-start;
    text-align: left;
    padding-bottom: 40px;
    width: 960px;
}
.points{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.point_1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0px;
}
.square{
    position: static;
    width: 40px;
    height: 40px;
    background: #0E183C;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 20px;
}

/** advantages */
.advantages {
    display: flex;
    flex-direction: column;
    padding: 40px 0px;
    justify-content: flex-start;
    overflow: hidden;
}
.blokc-card{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
}
.info-card {
    display: flex;
    flex-direction: row;
    padding: 0;
    position: static;
    vertical-align: middle;
    width: 290px;
    height: 160px;
    background: #4671D5;
    flex: none;
    align-self: center;
}
.card-text {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    vertical-align: middle;
    /*position: static;*/
    /*left: 15.79%;*/
    /*right: 7.02%;*/
    /*top: 14.38%;*/
    /*bottom: 14.38%;*/
    border-left: 5px solid #fff;
    height: 120px;
    margin: 20px;
}
/* end advantages */

/** constructions */
.constructions {
    display: flex;
    flex-direction: column;
    padding: 40px 0px;
}
.drawing {}
.hydrant {
    display: flex;
    flex-direction: column;
    align-self: center;
}
.mark1 {
    position: absolute;
    left: 180px;
    top: 40px;
}

.mark2 {
    position: absolute;
    left: 250px;
    top: 70px;
}

.mark3 {
    position: absolute;
    left: 60px;
    top: 680px;
}

.mark4 {
    position: absolute;
    left: 180px;
    top: 710px;
}

.mark5 {
    position: absolute;
    left: 278px;
    top: 973px;
}

.cards {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.informer {
    flex: none;
    order: 0;
    align-self: center;
    margin: 15px 0px;
}

.informer-name {
    position: static;
    width: 255px;
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 47px;
    color: #4671D5;
    flex: none;
    order: 1;
    align-self: center;
    margin: 15px 0px;
}

.informer-text {
    position: static;
    width: 255px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #0E183C;
    flex: none;
    order: 2;
    align-self: center;
    margin: 15px 0px;
}
/*End constructions*/

/** execution table */
.table {
    display: flex;
    flex-direction: column;
    padding: 70px 0px;
}

.table-head {
    margin: 5px;
    width: 287px;
    height: 76px;
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    background: #0e183c;
    color: white;
    font-size: 24px;
    line-height: 76px;
    align-items: center;
    text-align: center;
}

.table-item {
    width: 76px;
    height: 76px;
    background: #DEEBF4;
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 76px;
    align-items: center;
    text-align: center;
    color: #0E183C;
    margin: 5px;
}

/* end execution tabl*/

/** Specifications */
.tech-params-block {
    display: flex;
    flex-direction: column;
    padding: 70px 375px;
    background: #0E183C;
    color: #DEEBF4;
}

.title-2 {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 71px;
    display: flex;
    align-items: center;
    color: #fff;
    margin: 30px 0px;
}

.title-3 {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 71px;
    display: flex;
    align-items: center;
    text-align: left;
    color: #fff;
}

.spec {
    display: flex;
    flex-direction: column;
    padding: 15px 0px;
}

p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #4671D5;
}

/* End Specifications */



/** Производство */
.proizvodstvo {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 65px;
    flex: none;
    align-self: center;
}

.block_1 {
    display: flex;
    flex-direction: column;
    padding: 30px 40px;

}
.block_2 {
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
}
.block_3 {
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
}
.block-img-1 {
    left: 100%;
    right: 100%;
}
.name-card {
    display: flex;
    flex-direction: row;
    padding: 0px;
    position: static;
    width: 350px;
    height: 70px;
    flex: none;
    align-self: flex-start;
    margin: 30px 0px;
}
.number {
    width: 70px;
    height: 70px;
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 71px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #4671D5;
}
.text-h3 {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: flex-end;
    color: #0E183C;
}
.form-consultation {
    display: flex;
    flex-direction: column;
    padding: 70px 95px;
}
.form_fields{
    margin: 0;
    padding: 0;
    list-style: none;
}
.input-field {
    display: flex;
    flex-direction: column;
    padding: 15px 15px;
    background: #FFFFFF;
    border: 2px solid #828886;
    border-radius: 16px;
    color: #828886;
    margin: 10px 0px;
}
.form_label {
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #fff;
    
}
.form_text{
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 19px;
   display: flex;
   align-items: center;
   color: #828886;
   flex: none;
   order: 1;
   border: 0px
}
.form_text:focus-visible {
    color: #0E183C;
    border: 2px solid #0E183C;
}
.form_error{

}
.button-2 {
    display: flex;
    flex-direction: column;
    padding: 15px 50px;
    background: #4671D5;
    box-shadow: 0px 8px 8px rgba(130, 136, 134, 0.5);
    border-radius: 16px;
    flex: none;
    order: 2;
    align-self: center;
    margin: 10px 0px;
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #DEEBF4;
}
.button-2:hover {
    border: transparent;
    box-shadow: 0px 8px 10px rgba(130, 136, 134, 0.5);
    color: #ffffff;
    font-size: 20px;
    outline: none;
}
.button-2:active {
    background: #4671D5;
    border: transparent;
    box-shadow: 0px 4px 4px rgba(130, 136, 134, 0.5);
    color: #ffffff;
    font-size: 20px;
    outline: none;
}
.button-2:visited {
    background: #4671D5;
    box-shadow: 0px 8px 10px rgba(130, 136, 134, 0.5);
    border: transparent;
    color: #ffffff;
}
/* конец производства*/

/** Photo */
.photo-block {
    display: flex;
    flex-direction: column;
    padding: 70px 0px;

}

.photo-gallery {
    display: flex;
    flex-direction: row;
    padding: 70px 0px;

    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    flex: none;
    order: 1;
    align-self: center;
    margin: 30px;
}

.photo-g {
    display: flex;
    flex-direction: row;
    padding: 120px 70px;
    width: 570px;
    height: 570px;
    background: #DEEBF4;
    border-radius: 16px;
    flex: none;
    order: 0;
    align-self: center;
    margin: 30px;
    transition: transform .3s;
    transform: translateX(80px)
}

.photo-v {
    display: flex;
    flex-direction: column;
    padding: 70px 120px;
    width: 570px;
    height: 570px;
    background: #DEEBF4;
    border-radius: 16px;
    flex: none;
    order: 1;
    align-self: center;
    margin: 30px;
    transition: transform .3s;
    transform: translateX(80px)
}
/* End Photo */

/** dealers*/
    .form-dealers{
        display: flex;
        flex-direction: column;
        padding: 50px 95px;
        background: #0E183C;
        border-radius: 16px;
        flex: none;
        order: 1;
        align-self: center;
        }
/* end dealers*/
/** Футер */
.footer-right {
    background-color: #0E183C;
    color: #ffffff;
    height: 267px;
}

.footer-menu ul li {
    font-size: 24px;
    list-style-type: none;
    margin: 16px;
}

.footer-link ul li {
    font-size: 24px;
    list-style-type: none;
    margin: 16px;
}

.footer-link ul li a {
    color: #ffffff;
    text-decoration: none;
}

.footer-content {
    margin-top: 48px;
}

.logo-small {
    margin-top: 150px;
}

.footer-email {
    cursor: pointer;
}

.address {
    background-color: #DEEBF4;
    height: 408px;
    margin-bottom: 64px;
    margin-left: -14px;
}

.map {
    background-image: url(../images/image_6.png);
    margin-left: -110px;
    margin-top: 24px;
    height: 360px;
    margin-right: -13px;
}

.ml11 {
    font-weight: 700;
    font-size: 28px;
}

.ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    color: #424d9b;
    padding-bottom: 0.15em;
}

.ml11 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #fff;
    transform-origin: 0 50%;
}

.ml11 .line1 {
    top: 0;
    left: 0;
}

.ml11 .letter {
    display: inline-block;
    line-height: 1em;
}

.footer-email {
    color: #ffffff;
    transition: top 1s ease-out 0.5s;

    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 71px;
}

.address-text-block {
    margin-top: 84px;
    margin-right: 160px;
    float: right;
}

.address-text-block ul li {
    font-size: 20px;
    list-style-type: none;
    margin-bottom: 24px;
}

.swiper-container {
    width: 100%;
    height: 552px;
    padding-bottom: 14px !important;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #DEEBF4;
    width: 552px;
    height: 552px;
    box-shadow: 0px 8px 8px rgba(130, 136, 134, 0.5);
    border-radius: 26px;
}

.swiper-slide-img-g {
    left: 13.04%;
    right: 13.04%;
    top: 25.36%;
    bottom: 25.36%;
    width: inherit;
}

.swiper-slide-img-v {
    left: 13.04%;
    right: 13.04%;
    top: 25.36%;
    bottom: 25.36%;
}

.gallery-head {
    margin-left: 39px;
    margin-bottom: 72px;
}

.gallery-head h2 {
    font-size: 48px;
    color: #0E183C;
    line-height: 72px;
}