@font-face {
    font-family: Oswald;
    src: url(../fonts/Oswald-VariableFont_wght.ttf);
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    font-family: Oswald, serif;
    background: #fff;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

button {
    border: transparent;
    outline: none !important;
}

/*Header menu*/
.header-top {
    background-color: #0E183C;
    display: inline-flex;
    color: #DEEBF4;
    font-size: 20px;
    height: 64px;
    position: absolute;
    width: 100%;
}

.link-top {
    margin-top: 10px;
}

.link-top a {
    color: #DEEBF4;
    text-decoration: none;
}

/**
Banner
 */
.main-banner {
    background-image: url(../images/gidrant.png);
    background-position: center;
    display: inline-block;
    height: 552px;
    margin-top: 64px;
    width: 100%;
}

.banner-info {
    margin-top: 6%;
}

.main-title {
    color: #DEEBF4;
    font-size: 48px;
    width: 484px;
}

.button-calc-price {
    background-color: #AED2E8;
    border: transparent;
    border-radius: 12px;
    box-shadow: 0px 8px 10px rgba(130, 136, 134, 0.5);
    color: #0E183C;
    cursor: pointer;
    height: 48px;
    font-family: Oswald, serif;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 138px;
    outline: none;
    transition: 0.5s ease;
    width: 320px;
}

.button-calc-price:hover {
    border: transparent;
    box-shadow: 0px 8px 10px rgba(130, 136, 134, 0.5);
    color: #4671D5;
    font-size: 20px;
    outline: none;
}

.button-calc-price:active {
    background: #AED2E8;
    border: transparent;
    box-shadow: 0px 4px 4px rgba(130, 136, 134, 0.5);
    color: #424d9b;
    font-size: 20px;
    outline: none;
}

.button-calc-price:visited {
    background: #AED2E8;
    box-shadow: 0px 8px 10px rgba(130, 136, 134, 0.5);
    border: transparent;
    color: #0E183C;
}

/**
Карточки
 */
.banner-info-text {
    display: flex;
    flex-direction: row;
    padding: 70px 0px;
    justify-content: space-around;
    overflow: hidden;
    /*
    margin: auto;
    margin-left: 100px;
    margin-right: 100px;*/
}

.info-card {
    /* Auto Layout 
    display: flex;
    flex-direction: row;
    padding: 30px 20px;*/

    position: static;
    width: 290px;
    height: 140px;
    left: 0px;
    top: 70px;

    border: 2px solid #AED2E8;
    box-sizing: border-box;
    box-shadow: 0px 8px 8px rgba(130, 136, 134, 0.5);
    border-radius: 16px;
    /*
    height: 160px;
    margin: 18px;
    */

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: center;
    margin: 30px 20px;
}

.card-text {
    font-family: Roboto;
    padding: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #0E183C;

    position: static;
    left: 6.9%;
    right: 6.9%;
    top: 21.43%;
    bottom: 21.43%;

    /* Auto Layout */
    display: flex;
    flex-direction: row;
    padding: 30px 20px;

    /* Inside Auto Layout 
    flex: none;
    order: 0;
    align-self: center;
    margin: 0px 0px;*/

}

.block-container {
    display: flex;
}

/**
Футер
 */
.footer-right {
    background-color: #0E183C;
    color: #ffffff;
    height: 267px;
}

.footer-menu ul li {
    font-size: 24px;
    list-style-type: none;
    margin: 16px;
}

.footer-link ul li {
    font-size: 24px;
    list-style-type: none;
    margin: 16px;
}

.footer-link ul li a {
    color: #ffffff;
    text-decoration: none;
}

.footer-content {
    margin-top: 48px;
}

.logo-small {
    margin-top: 150px;
}

.footer-email {
    cursor: pointer;
}

.address {
    background-color: #DEEBF4;
    height: 408px;
    margin-bottom: 64px;
    margin-left: -14px;
}

.map {
    background-image: url(../images/image_6.png);
    margin-left: -110px;
    margin-top: 24px;
    height: 360px;
    margin-right: -13px;
}

.ml11 {
    font-weight: 700;
    font-size: 28px;
}

.ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    color: #424d9b;
    padding-bottom: 0.15em;
}

.ml11 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #fff;
    transform-origin: 0 50%;
}

.ml11 .line1 {
    top: 0;
    left: 0;
}

.ml11 .letter {
    display: inline-block;
    line-height: 1em;
}

.footer-email {
    color: #ffffff;
    transition: top 1s ease-out 0.5s;

    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 71px;
}

.address-text-block {
    margin-top: 84px;
    margin-right: 160px;
    float: right;
}

.address-text-block ul li {
    font-size: 20px;
    list-style-type: none;
    margin-bottom: 24px;
}


.swiper-container {
    width: 100%;
    height: 552px;
    padding-bottom: 14px !important;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #DEEBF4;
    width: 552px;
    height: 552px;
    box-shadow: 0px 8px 8px rgba(130, 136, 134, 0.5);
    border-radius: 26px;

    /* Center slide text vertically */
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; */
}

.swiper-slide-img-g {
    left: 13.04%;
    right: 13.04%;
    top: 25.36%;
    bottom: 25.36%;
    width: inherit;
}

.swiper-slide-img-v {
    left: 13.04%;
    right: 13.04%;
    top: 25.36%;
    bottom: 25.36%;
}

.gallery-head {
    margin-left: 39px;
    margin-bottom: 72px;
}

.gallery-head h2 {
    font-size: 48px;
    color: #0E183C;
    line-height: 72px;
}

.table-head {
    margin: 8px;
    width: 264px;
    height: 72px;
    background: #4671D5;
    border-radius: 16px;
    color: white;
    font-size: 24px;
    line-height: 66px;
    align-items: center;
    text-align: center;
}

.table-item {
    width: 72px;
    height: 72px;
    background: #DEEBF4;
    border-radius: 16px;
    font-size: 20px;
    line-height: 72px;
    align-items: center;
    text-align: center;
    color: #0E183C;
    margin: 8px;
}


/*Производство*/

.proizvodstvo {
    /* Auto Layout*/
    display: flex;
    flex-direction: column;
    padding: 40px 0px;


    /* Inside Auto Layout */
    flex: none;

    align-self: center;
    margin: 40px 40px;
}

.title-1 {
    /* H1 */
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 71px;
    display: flex;
    align-items: center;
    text-align: center;

    /* 1/темно-синий */
    color: #0E183C;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: flex-start;
    margin: 0px 0px;
}

.block_1 {
    display: flex;
    flex-direction: column;
    padding: 40px 0px;

    /* width: 570px;
    height: 596px;
    background: #FFF; */
}

.block_2 {
    display: flex;
    flex-direction: column;
    padding: 40px 50px;

    /* width: 670px;
    height: 610 px;
    background: #FFF; */
}

.block_3 {
    display: flex;
    flex-direction: column;
    padding: 40px 50px;

    /* width: 470px;
    height: 788px;
    background: #FFF; */
}

/* .block-img-1 {
    left: 47.5px;
    right: 47.5px; */
}

.name-card {
    display: flex;
    flex-direction: row;
    padding: 0px;

    position: static;
    width: 372px;
    height: 70px;

    flex: none;
    align-self: center;
    text-align: center;
   }

.number {
width: 70px;
height: 70px;

/* H1 */
font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 71px;
display: flex;
align-items: flex-end;
text-align: center;

/* 1/синий */
color: #4671D5;

/* Inside Auto Layout */
flex: none;
order: 0;
align-self: flex-end;
margin: 0px 30px;
}

.text-h3 {
/* width: 272px;
height: 70px; */

/* H3 */
font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 36px;
display: flex;
align-items: flex-end;

/* 1/темно-синий */
color: #0E183C;

/* Inside Auto Layout */
flex: none;
order: 1;
align-self: flex-end;
margin: 0px 30px;
}

/* конец производства*/

/* Specifications */
.tech-params-block {
    display: flex;
    flex-direction: column;
    padding: 70px 375px;

    /*position: absolute;
    width: 1921px;
    height: 1313px;
    left: 0px;
    top: 4607px;*/

    background: #0E183C;
    color: #DEEBF4;
}

.spec {
    display: flex;
    flex-direction: column;
    padding: 35px 0px;
}

p {
    color: #4671D5;
}

/* End Specifications */

/* таблица*/
.table {
    /* Auto Layout */
    display: flex;
    flex-direction: column;
    padding: 70px 0px;
}

/* End table */

/* Photo */
.photo-block {
    display: flex;
    flex-direction: column;
    padding: 70px 0px;

}

.photo-gallery {
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    padding: 70px 0px;

    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;

    /* transition: transform .3s;
    transform: translateX (80px) */

    /* position: static;
    width: 2370px;
    height: 710px;
    left: 0px;
    top: 140px; */

    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: center;
    margin: 30px;
}

.photo-g {
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    padding: 120px 70px;

    /* position: static; */
    width: 570px;
    height: 570px;
    /* left: 0px;
    top: 70px; */

    background: #DEEBF4;
    border-radius: 16px;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: center;
    margin: 30px;

    transition: transform .3s;
    transform: translateX (80px)
}

.photo-v {
    /* Auto Layout */
    display: flex;
    flex-direction: column;
    padding: 70px 120px;

    /* position: static; */
    width: 570px;
    height: 570px;
    /* left: 600px;
    top: 70px; */

    /* 1/светлоголубой */
    background: #DEEBF4;
    border-radius: 16px;

    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: center;
    margin: 30px;

    transition: transform .3s;
    transform: translateX (80px)
}

/* End Photo */